<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- error-403 start-->
    <div class="error-wrapper">
        <div class="container"><img class="img-100" src="/images/sad.png" alt="">
            <div class="error-heading">
                <h2 class="headline font-info">403</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <p class="sub-content">The page you are attempting to reach require authentication. This may be because you are reaching this page without logged in.</p>
            </div>
            <div><a class="btn btn-success-gradien btn-lg" href="/login">Please Click Here to Login</a></div>
        </div>
    </div>

    <!-- error-403 end-->
</div>