<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2D_8wK7P8hKiOYwpEeWKhM23uip8LaF5MyXNjsDawM5TAaI90PS6XQA0wHcEsiSlU2Ag&usqp=CAU" class="card-img-top img-responsive" alt="Image">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, at sequi, asperiores necessitatibus iste temporibus, similique fuga repellat iure corrupti totam! Velit, unde facilis. Vitae eaque similique dolorum ipsam magni!</p>
    <a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-primary" role="button">Button</a>
  </div>
</div>