<div class="row d-flex align-items-center justify-content-center" >
<div class="bd-example p-5 rounded-4 border mb-5 mt-5" style="max-width:800px;">
    <div class="text-center"><h1><b>{{title}}</b></h1></div>
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputName" class="form-label">FullName</label>
    <input type="text" class="form-control" id="inputName" placeholder="FullName">
  </div>
  <div class="col-md-6">
    <label for="inputRole" class="form-label">Role</label>
    <select id="inputRole" class="form-select">
      <option selected>Choose...</option>
      <option value="ADMIN">ADMIN</option>
      <option value="USER">USER</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputState" class="form-label">Status</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option value="true">Active</option>
      <option value="false">InActive</option>
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-outline-primary btn-lg">Save</button>
  </div>
</form>
</div>
</div>