<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>
                    Product Create</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" data-bs-original-title="" title="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></a></li>
                    <li class="breadcrumb-item">Products</li>
                    <li class="breadcrumb-item active"> Create    Product                       </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/product" enctype="multipart/form-data">
                    <div class="form theme-form">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label>Title</label>
                                    <input class="form-control" type="text" placeholder="Project name *" data-bs-original-title="" title="">
                                </div>
                            </div>
                        </div>
                        <div class="row  mt-3">
                            <div class="col">
                                <div class="mb-3">
                                    <label>Product Description</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" name="description" placeholder="Product Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row  mt-3">
                            <div class="col">
                                <div class="mb-3">
                                    <label>Addition Information</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" name="information" placeholder="Additional Information"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row  mt-3">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label>Product Category</label>
                                    <select class="form-select" name="category">
                                        <option value="">Small</option>
                                        <option value="">Medium</option>
                                        <option value="">Big</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label>Stock Available</label>
                                    <input class="form-control" type="text" data-language="en" data-bs-original-title="" name="available" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label>Price per Item</label>
                                    <input class="form-control" type="text" data-language="en" data-bs-original-title="" name="price" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3 mt-3">
                                    <label>Upload product photos</label>

                                        <div class="dz-message needsclick">
                                            <input class="form-control" name="photos" type="file" multiple accept="image/*" placeholder="Choose product photos"/>
                                        </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-end"><button type="submit" class="btn btn-success me-3"  data-bs-original-title="" title="">Save</button><button type="reset" class="btn btn-danger"  data-bs-original-title="" title="">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>